body {
    font-family: Helvetica, Arial, sans-seri;
    background-color: tomato;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif; }

    /* I'm a CSS comment! */

    /* apply styles to <header> */
    header {


padding: 20px 35ps;
background-color: #39a6b2

 }